.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6290c3;
  margin: 20px;
  padding: 20px;
  border: 10px solid #CDD3D5;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.line {
  margin: 2em;
  border-top: 1px solid #CDD3D5;
}

.block {
  background-color: #28464b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 5px solid #CDD3D5;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  .block-header {
    border-bottom: 1px solid #CDD3D5;
    margin-bottom: 12px;
  }
  .block-footer {
    border-top: 1px solid #CDD3D5;
    margin-top: 12px;
  }
}

// MDL
.mdl-textfield__input {
  color: #403F4C;
  font-size: 2em;
}

.mdl-chip {
  border-radius: 4px;
}

.mdl-chip__text {
  font-family: 'VT323', monospace;
  font-size: 20px;
}

//Bootstrap
.form-control{
  padding-bottom:10px;
}
