// Global SASS
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background-color: #403F4C;
  color: #CDD3D5;
  font-family: 'Quicksand', sans-serif;
}

// FONTS

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

.secondaryFont {
  font-family: 'VT323', monospace;
}

.vert-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
