<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      background-color: #002b36;
    }

    h1 {
      margin-top: 180px;
      position: relative;
      left: 25%;
      font-size: 5em;
      color: #6c71c4;
    }

    form {
      position: relative;
      left: 45%;
      color: #6c71c4;
    }

    #submit {
      position: relative;
      left: 3.3%;
    }

    p {
      font-size: 2em;
      position: relative;
      left: 39%;
      color: #d33682;
    }
  </style>
</head>

<body>

  <h1>Learning of BlockChain</h1>
  <p>Enter You Personal Secret Key</p>

  <form action="/action_page.php">
    <br>
    <input type="text" name="Secret Key" value="Secret">
    <br>
    <br>
    <br>
    <input id='submit' type="submit" value="Submit">
  </form>

</body>

</html>