<link rel="stylesheet" href="../node_modules/material-design-lite/material.min.css">
<link rel="stylesheet" href="../node_modules/hover.css/css/hover.css">
<script src="../node_modules/material-design-lite/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
  crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Quicksand|VT323" rel="stylesheet">
<style>
  @keyframes contract {
    from {
      transform: scale(1);
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    to {
      transform: scale(0.1);
      box-shadow: none;
    }
  }

  @keyframes expandWtoG {
    from {
      background: #CDD3D5;
      transform: scale(0.1);
      box-shadow: none;
    }
    to {
      background: #B9F270;
      transform: scale(1);
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }

  @keyframes expandWtoR {
    from {
      background: #CDD3D5;
      transform: scale(0.1);
    }
    to {
      background: #931621;
      transform: scale(1);
    }
  }

  @keyframes WtoG {
    from {
      color: #CDD3D5;
    }
    to {
      color: #B9F270;
    }
  }

  @keyframes WtoR {
    from {
      color: #CDD3D5;
    }
    to {
      color: #931621;
    }
  }

  @keyframes makeVisible {
    from {
      visibility: hidden;
    }
    to {
      visibility: visible;
    }
  }

  .circle {
    position: absolute;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background: #CDD3D5;
    transform: scale(0.1);
    animation-name: expandWtoG, contract;
    animation-duration: 0.8s, 0.8s;
    animation-delay: 4.2s, 5s;
    animation-timing-function: ease, ease;
    animation-fill-mode: forwards;
    z-index: 3;
    transition-property: transform;
  }

  .material-icons {
    position: absolute;
    font-size: 4em;
    color: #CDD3D5;
    animation-name: WtoG;
    animation-delay: 4.8s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 3;
  }

  .server1 {
    left: -280px;
    top: -40px;
  }

  .circle1 {
    left: -286px;
    top: -45px;
  }

  .server2 {
    left: -190px;
    top: 90px;
    animation-name: WtoR;
  }

  .circle2 {
    left: -195px;
    top: 85px;
    animation-name: expandWtoR, contract;
  }

  .server3 {
    left: -30px;
    top: 90px;
  }

  .circle3 {
    left: -35px;
    top: 85px;
  }

  .server4 {
    left: 60px;
    top: -40px;
  }

  .circle4 {
    left: 55px;
    top: -45px;
  }

  .server5 {
    color: #B9F270;
    left: -30px;
    top: -170px;
    z-index: 3;
  }

  .server6 {
    left: -190px;
    top: -170px;
    animation-name: WtoR;
  }

  .circle6 {
    left: -195px;
    top: -175px;
    animation-name: expandWtoR, contract;
  }

  @keyframes makeLine {
    from {
      width: 0%;
      height: 0%;
    }
    to {
      width: 100%;
      height: 100%;
    }
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  svg {
    position: absolute;
    top: -200px;
    left: -320px;
    height: 380px;
    width: 670px;
  }

  path {
    position: absolute;
    stroke: #28464b;
    stroke-width: 4;
    z-index: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s ease 1s forwards;
  }

  .moving {
    height: 6px;
    width: 6px;
    position: absolute;
    border-radius: 50%;
    background: #B9F270;
    visibility: hidden;
  }

  @keyframes copy1 {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0px, 220px);
    }
  }

  .shotting1 {
    top: -117px;
    left: 1px;
    animation: copy1 2s 3s forwards, makeVisible 3.5s 3s;
  }

  @keyframes copy2 {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(-162px, 220px);
    }
  }

  .shotting2 {
    top: -117px;
    left: 1px;
    animation: copy2 2s 3s forwards, makeVisible 2.5s 3s 2 alternate;
  }

  @keyframes copy3 {
    from {
      transform: translate(0px, -3px);
    }
    to {
      transform: translate(-255px, 89px);
    }
  }

  .shotting3 {
    top: -117px;
    left: 1px;
    animation: copy3 2s 3s forwards, makeVisible 2.5s 3s 2 alternate;
  }

  @keyframes copy4 {
    from {
      transform: translate(0px, -6px);
    }
    to {
      transform: translate(90px, 90px);
    }
  }

  .shotting4 {
    top: -117px;
    left: 1px;
    animation: copy4 2s 3s forwards, makeVisible 2.5s 3s 2 alternate;
  }

  @keyframes copy5 {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(-130px, 0px);
    }
  }

  .shotting5 {
    top: -142px;
    left: -30px;
    animation: copy5 2s 3s forwards, makeVisible 2.5s 3s 2 alternate;
  }

  .greenServer {
    top: -100px;
    right: -200px;
    color: #B9F270;
  }

  .redServer {
    top: 0px;
    right: -200px;
    color: #931621;
  }

  .score1 {
    font-size: 3em;
    position: absolute;
    top: -5px;
    right: -240px;
  }

  .score2 {
    font-size: 3em;
    position: absolute;
    top: -105px;
    right: -240px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .visable {
    opacity: 0;
    animation: fadeIn 2s ease 6s forwards;
  }

  .majority {
    position: absolute;
    font-size: 3em;
    top: -160px;
    left: 142px;
    opacity: 0;
    animation: fadeIn 2s ease 7s forwards;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="line"> </div>
      <h1>SEND BLOCK</h2>
        <div class="line"> </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="box">
        <div class="row">
          <div class="vert-center">
            <br>
            <div class="col-md-8 text-center secondaryFont">
              <i class="material-icons server1">storage</i>
              <div class="circle circle1"></div>
              <i class="material-icons server2">storage</i>
              <div class="circle circle2"></div>
              <i class="material-icons server3">storage</i>
              <div class="circle circle3"></div>
              <i class="material-icons server4">storage</i>
              <div class="circle circle4"></div>
              <i class="material-icons server5">storage</i>
              <i class="material-icons server6">storage</i>
              <div class="circle circle6"></div>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M325,80 L70,173 M325,80 L413,173 M323,80 L323,303" />
                <path d="M325,80 L163,303 M300,61 L190,61" />
                <path d="M165,80 L165,305 M75,170 L165,80 M323,303 L165,80" />
                <path d="M420,175 L165,83 M319,305 L415,209 M423,209 L165,300" />
                <path d="M165,300 L70,205 M328,303 L55,205" />
                <path d="M185,321 L300,321 M99,192.5 L390,192.5" />
              </svg>
              <div class="moving shotting1"></div>
              <div class="moving shotting2"></div>
              <div class="moving shotting3"></div>
              <div class="moving shotting4"></div>
              <div class="moving shotting5"></div>
              <i class="material-icons greenServer visable">storage</i>
              <span class="majority">Majority</span>
              <span class="score2 visable">:4</span>
              <i class="material-icons redServer visable">storage</i>
              <span class="score1 visable">:2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 vert-center">
      <h1>The server which creates the block, then sends it out to all others on the network. So long as the majority receives
        and validate the block, it is then successfully added to the chain.</h1>
    </div>
  </div>
</div>