%test {
  position: absolute;
  content: '';
  transition: all 0.5s;
}

.block-height .form-control {
  min-width: auto;
}

.box3 {
  float: right;
}

#sendTransmission {
  margin-top: 5px;
  font-size: 2em;
}

.empty-block {
  margin-top: 5px;
}

.button {
  display: inline-block;
  margin-top: 100px;
  position: relative;
  transform: translate(-50, -50%);
  vertical-align: middle;
  text-decoration: none;
  font-size: 5em;
  transition: all 0.5s;
  background-color: #3498db;

  &::before {
    @extend %test;
    bottom: -15px;
    height: 15px;
    width: 100%;
    left: 8px;
    transform: skewX(45deg);
    background-color: darken(#3498db, 20%);
  }

  &::after {
    @extend %test;
    right: -15px;
    height: 100%;
    width: 15px;
    bottom: -8px;
    transform: skewY(45deg);
    background-color: darken(#3498db, 30%);
  }

  &:active {
    margin-left: 10px;
    margin-top: 110px;

    &::before {
      bottom: -5px;
      height: 5px;
      left: 3px;
    }

    &::after {
      right: -5px;
      width: 5px;
      bottom: -3px;
    }
  }
}

.box {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3.5em;
  }
  background-image: url("../imgs/dotnoise-light-grey.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6290c3;
  font-family: 'VT323', monospace;
  padding: 20px;
  border: 10px solid #CDD3D5;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.stepSix {
  min-height: 400px;
}

.line {
  min-width: 100%;
  margin: 2em 0;
  border-top: 1px solid #CDD3D5;
}

.block {
  .secondaryFont {
    font-size: 2em;
  }
  background-image: url("../imgs/dotnoise-light-grey.png");
  background-color: #6290c3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 5px solid #CDD3D5;
  border-radius: 3px;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-family: 'VT323', monospace;
}

.block-header {
  border-bottom: 1px solid #CDD3D5;
  margin-bottom: 12px;
}

.block-footer {
  border-top: 1px solid #CDD3D5;
  margin-top: 12px;
}

.input-group-addon {
  font-size: 1.5em;
}

.form-control {
  font-size: 1.5em;
}

.dragula-container {
  min-height: 30px;

  .input-group {
    cursor: move;

    input {
      cursor: move;
    }
  }
}

.gu-mirror,
.gu-transit {
  font-family: 'VT323', monospace;
}

.secondaryFontInLine {
  font-family: 'VT323', monospace;
  padding-bottom: 6px;
}

#StepOne {
  margin-top: 28em;
}
// MDL

.mdl-textfield__label {
  border: none;
  font-size: 2.5em;
}

.mdl-textfield__input {
  color: #403F4C;
  font-size: 2em;
  border: none;
  font-family: 'VT323', monospace;

  .input {}
}

.alert {
  font-size: 1.5em;
}

.alert-danger {
  background-color: $red;
  color: $white;
  border: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.45), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.display-none {
  visibility: hidden;
}

.display-none-hidden {
  display: none;
}

.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  font-size: 2em;
  color: rgb(63,81,181);
  top: -16px;
  visibility: visible;
}

.mdl-chip {
  border-radius: 4px;
}

.mdl-chip__text {
  font-family: 'VT323', monospace;
  font-size: 20px;
}

.tooltip2 {
  cursor: default;
}

.biggerBIGGER {
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.5rem;
  color: #CDD3D5;
}

.tooltip2 strong {
  line-height: 30px;
}

.tooltip2:hover {
  text-decoration: none;
  color: black;
}

.tooltip2 h2 {
  position: relative;
  top: -10px;
  right: -45px;
  font-size: 2em;
  height: 0.8em;
  width: 60%;
}

.height {
  height: 80px;
  width: 110px;
  z-index: 60;
  text-align: left;
}

.tooltip2 span {
  position: absolute;
  z-index: 999999;
  display: none;
  padding: 14px 20px;
  margin-top: 30px;
  margin-left: -160px;
  width: 300px;
  line-height: 16px;
}

.tooltip2:hover span {
  display: inline;
  position: absolute;
  border: 2px solid #CDD3D5;
  color: #EEE;
  background: #6290c3;
}

.tooltipRight:hover span {
  right: 200px;
  top: 30px;
}

.tooltipBlock:hover span {
  right: 100px;
  top: 10px;
}
/*CSS3 extras*/

.tooltip2 span {
  border-radius: 2px;
  box-shadow: 0 0 8px 4px #666;
  /*opacity: 0.8;*/
}

.arrow-up {
  z-index: 20;
  position: absolute;
  border: 0;
  top: -16px;
  left: 120px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #CDD3D5;
}

#footer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5em;
  margin-bottom: 50px;

  .line {
    position: absolute;
    bottom: 30px;
    width: 1px;
  }

  img {
    height: 20px;
    width: 20px;
  }
}
