// Global SASS

body,
html {
  position: absolute;
  top: -100px;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../imgs/random-grey-variations.png");
  //background-image: url();
  //background-repeat: repeat;
  background-color: #403F4C;
  color: #CDD3D5;
  font-family: 'Quicksand', sans-serif;
}
// FONTS

h1 {
  font-size: 2.5em;
}

section {
  margin-bottom: 200px;
}

h3 {
  font-size: 2em;
}

.giant {
  font-size: 15em;
}

.secondaryFont {
  font-family: 'VT323', monospace;
}

.vert-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin-bottom: 20px;
}

#footer {
  left: -13px;
  bottom: -200px;
}

#InvalidHash {
  margin-bottom: 100px;
}
