// Global SASS

body,
html {
  position: absolute;
  top: -100px;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../imgs/random-grey-variations.png");
  //background-image: url();
  //background-repeat: repeat;
  background-color: $purple;
  color: $off-white;
  font-family: 'Quicksand', sans-serif;
}
// FONTS

h1 {
  font-size: 2.5em;
}

section {
  margin-bottom: 200px;
}

h3 {
  font-size: 2em;
}

.giant {
  font-size: 15em;
}

.secondaryFont {
  font-family: 'VT323', monospace;
}

.vert-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin-bottom: 20px;
}

.box {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3.5em;
  }
  background-image: url("../imgs/dotnoise-light-grey.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  font-family: 'VT323', monospace;
  padding: 20px;
  border: 10px solid $off-white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.block {
  .secondaryFont {
    font-size: 2em;
  }
  background-image: url("../imgs/dotnoise-light-grey.png");
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 5px solid $off-white;
  border-radius: 3px;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-family: 'VT323', monospace;
}

.block-header {
  border-bottom: 1px solid $off-white;
  margin-bottom: 12px;
}

.block-footer {
  border-top: 1px solid $off-white;
  margin-top: 12px;
}
