.grey-darkest {
  color: $grey-darkest;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.purple {
  color: $purple;
}

.red {
  color: $red;
}

.blue-dark {
  color: $blue-dark;
}
//@media breakpoints
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px
); //Main mixins
@mixin transition($time) {
  -moz-transition: all $time ease-in;
  -o-transition: all $time ease-in;
  -webkit-transition: all $time ease-in;
  transition: all $time ease-in;
}
@mixin left-top-position($left,$top) {
  left: $left;
  top: $top;
}
@mixin fadeInStuff($delay) {
  @keyframes FadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  animation: FadeIn 2s ease $delay forwards;
}
@mixin shootingStar($fromX, $fromY, $toX, $toY, $name) {
  @keyframes #{$name} {
    from {
      transform: translate($fromX, $fromY);
    }

    to {
      transform: translate($toX, $toY);
    }
  }
  animation: $name 2s 3s forwards, makeVisible 2.5s 3s 2 alternate;
}
