/* Add a black background color to the top navigation */

$off-white: #cdd3d5;
$blue: #6290c3;

.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 2rem;
}

#navLine {
  position: absolute;
  left: -30px;
  width: 110%;
  top: 52px;
  height: 5px;
  background: $off-white;
  z-index: 888;
  box-shadow: 0px 2px 3px $off-white;
}

.rectangle {
  position: relative;
  width: 200px;
  height: 100px;
  border: 5px solid #cdd3d5;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: $blue;
  overflow: hidden;
  margin-right: 60px;
  animation-name: none;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 999;
}

.moveRight1 {
  animation-name: moveRight1;
}

.moveRight2 {
  animation-name: moveRight2;
}

.moveRight3 {
  animation-name: moveRight3;
}

@keyframes moveRight1 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

@keyframes moveRight2 {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(330px);
  }
}

@keyframes moveRight3 {
  from {
    transform: translateX(330px);
  }
  to {
    transform: translateX(560px);
  }
}
