ul.nav-pills {
  top: 20px;
  position: fixed;
}

#dot-nav {
  position: fixed;
  right: 10px;
  top: 42%;
  margin-top: -50px;
  height: 100px;
  z-index: 999;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    background-color: $off-white;
    border: 3px solid $off-white;
    cursor: pointer;
    padding: 5px;
    height: 10px;
    margin: 10px 10px 0 0;
    width: 10px;
    vertical-align: bottom;
  }

  li.active,
  li:hover {
    background-color: $blue;
  }

  a {
    outline: 0;
    vertical-align: top;
    margin: 0 0 0 25px;
    position: relative;
    top: -5px;
  }
}
