/* Add a black background color to the top navigation */

$off-white: #cdd3d5;
$blue: #6290c3;
$blue-dark: #28464b;

.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 1em;
}

.navbar {
  display: inline-block;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  overflow: hidden;
  background-color: RGB(64, 63, 76, 0.9);
  color: $purple;
  font-size: 18px;
}

.top {
  top: 0px;
  position: fixed;
}

#navLine {
  position: absolute;
  left: -30px;
  width: 110%;
  top: 32px;
  height: 5px;
  background: $off-white;
  z-index: 8;
  box-shadow: 0px 2px 3px $off-white;
}

.blocks{
  margin: 5px;
}

.rectangle {
  overflow: hidden;
  color: $purple;
  font-family: 'VT323', monospace;
  position: relative;
  right: 175px;
  width: 120px;
  height: 60px;
  border: 5px solid #cdd3d5;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: $blue;
  margin-right: 55px;
  display: inline-block;
  animation-name: none;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 999;
}

.moveRight1 {
  animation-name: moveRight;
}

.restart {
  animation: none;
  animation-fill-mode: initial;
}

.hilight {
  background: RGB(179, 179, 179);
}

@keyframes moveRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(175px);
  }
}
