.tooltip2 {
  cursor: default;
}

.biggerBIGGER {
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.5rem;
  color: $off-white;
}

.tooltip2 strong {
  line-height: 30px;
}

.tooltip2:hover {
  text-decoration: none;
  color: black;
}

.tooltip2 h2 {
  position: relative;
  top: -10px;
  right: -45px;
  font-size: 2em;
  height: 0.8em;
  width: 60%;
}

.height {
  height: 40px;
  width: 110px;
  z-index: 60;
  text-align: left;
}

.tooltip2 span {
  position: absolute;
  z-index: 999999;
  display: none;
  padding: 14px 20px;
  margin-top: 30px;
  margin-left: -160px;
  width: 300px;
  line-height: 16px;
}

.tooltip2:hover span {
  display: inline;
  position: absolute;
  border: 2px solid $off-white;
  color: #EEE;
  background: $blue;
}

.tooltipRight:hover span {
  right: 200px;
  top: 30px;
}

.tooltipBlock:hover span {
  right: 100px;
  top: 10px;
}
/*CSS3 extras*/
.tooltip2 span {
  border-radius: 2px;
  box-shadow: 0 0 8px 4px #666;
  /*opacity: 0.8;*/
}

.arrow-up {
  z-index: 20;
  position: absolute;
  border: 0;
  top: -16px;
  left: 120px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid $off-white;
}
